<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="sticky-top site-header">
        <div class="header-main d-flex justify-content-between">
            <a class="site-logo" href="/" aria-label="Return home"><img src="/assets/header-logo.png" alt="SRCStats logo"></a>
            <nav class="site-nav-desktop navbar">
                <a class="d-md-flex d-none" href="/user">Users</a>
                <a class="d-md-flex d-none" href="/runs">Runs</a>
                <a class="last-nav d-md-flex d-none" href="/webhooks">Tools</a>
                <button class="navbar-toggler btn-menuburger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <div class="collapse w-100 position-absolute" id="navbarToggleExternalContent">
            <div class="collapse-wrapper">
                <div class="bg-dark p-4">
                    <nav class="site-nav-mobile d-flex flex-column">
                        <a href="/user">Users</a>
                        <a href="/runs">Runs</a>
                        <a href="/webhooks">Tools</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <span>Made by <a href="https://spoicy.ch/">Spoicy</a> and <a href="https://suprnova.dev/">Suprnova</a> &#10084;</span>
        </div>
    </footer>
</body>
</html>
