@{
    ViewData["Title"] = "SRCStats";
}

<div class="site-banner row">
    <div class="banner-mobile d-lg-none d-flex flex-column align-items-center justify-content-center">
        <div class="mobile-top d-flex justify-content-center">
            <img src="/assets/site-banner-logo.png" alt="SRCStats icon">
        </div>
        <div class="mobile-bottom text-center">
            <h1>Statistics for all things speedrunning</h1>
            <p>SRCStats visualizes statistics from Speedrun.com, along with providing tools to improve your speedrunning experience.</p>
        </div>
    </div>
    <div class="col-lg-6 d-lg-flex d-none flex-column justify-content-center">
        <h1>Statistics for all things speedrunning</h1>
        <p>SRCStats visualizes statistics from Speedrun.com, along with providing tools to improve your speedrunning experience.</p>
    </div>
    <div class="col-lg-1 d-lg-flex d-none"></div>
    <div class="col-lg-5 d-lg-flex d-none justify-content-center align-items-center">
        <img src="/assets/site-banner-logo.png" alt="SRCStats icon">
    </div>
</div>
<div class="learn-more d-flex p-5 justify-content-center">
    <a class="btn btn-primary" href="#">Learn more</a>
    <a class="btn btn-secondary" href="/user">User Stats</a>
</div>