@{
    ViewData["Title"] = "User Stats";
}

@section Scripts
{
    <script src="~/js/user_search.js" defer></script>
    <link href="~/css/user_search.css" rel="stylesheet" />
}

<div class="container-fluid p-3">
    @* I wanted whatever is going to be displayed when no user is provided to be the complete center of the screen, minus the footer *@
    <div class="user-fetch-fields d-flex justify-content-center align-items-center" style="margin-bottom: -130px">
        <input id="userName" class="form-floating"/>
        <button style="min-width: 100px; min-height: 30px" type="button" id="submit" value="Fetch">Fetch</button>
    </div>
</div>

