@{
    ViewData["Title"] = "Disclaimer";
}

<div>
	<h1 class="text-center">Disclaimers and Attributions</h1>
	<p>Some data on this site is licensed under a <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commoms Attribution-NonCommercial 4.0 International</a> license. © 2022 Elo Entertainment Inc.</p>
	<p>Some images that appear on this site are copyright of their respective owners. Images, such as badges, icons, game covers, and profile pictures, are directly linked to from <a href="https://speedrun.com">speedrun.com</a>. SRCStats makes no claims of ownership of these images.</p>
	<p>Some images that appear on this site are copyright of Elo Entertainment Inc. The use of these images falls under Fair Use under terms of parody.</p>
	<p>Any questions, concerns, or notices can be directed to <a href="mailto:nova@suprnova.dev">nova@suprnova.dev</a>.</p>
</div>
