@{
    ViewData["Title"] = "FAQ";
}

<h1>Frequently Asked Questions</h1>
<div>
    <h2>Why is my request taking so long?</h2>
    <p>We use the <a href="https://github.com/speedruncomorg/api">Speedrun.com API</a> to process and display stats. We can only make 100 requests per minute, split across our entire website and all of our users. We take steps to reduce the number of requests we make, but, because of the nature of this website, lots of calls have to be made at any time. If your request is taking a while, there isn't much you can do. Just make sure you don't close out of the page, or you won't be able to see the progress in real time.</p>
    <h2>Why can't I refresh this user's stats?</h2>
    <p>In an effort to reduce abuse of the system, you cannot manually refresh a profile until the latest update is at least a day old. For some accounts that take longer to fetch, such as accounts with many runs, it may take longer until a refresh is available. You can always see the time remaining by hovering over the Refresh button.</p>
    <h2>How do I get the [X] trophy?</h2>
    <p>Some trophies have hidden requirements and can't be seen unless you're on an account that's already achieved them. Try exploring profiles other than your own to find out how to get them for yourself!</p>
    <h2>I have an idea for a new [X]!</h2>
    <p>We're welcome to adding new features to the site. If you have an idea for an archetype, trophy, a new stat to track, or something else, let us know on Discord at Suprnova#0001 or Fireball#4308!</p>
</div>