html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.prog-frac {
    width: 0%;
}

/* Layout and Page CSS */
body {
    background-color: #111618 !important;
}

header, main, footer {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem !important;
    color: transparent !important;
    background-image: linear-gradient(121deg, #FFE368, #ECB002);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.center-y {
    top: 50%;
    transform: translateY(-50%);
}

.emoji {
    width: 1.75rem;
}

/* Up to md Breakpoint */
@media screen and (max-width: 991.98px) {
    h1 {
        font-size: 3rem !important;
    }
}

/* Up to sm Breakpoint */
@media screen and (max-width: 767.98px) {
    h1 {
        font-size: 2.75rem !important;
    }

    p {
        font-size: 1.185rem !important;
    }
}

/* Up to xs Breakpoint */
@media screen and (max-width: 567.98px) {
    
}

/* Very small resolutions */
@media screen and (max-width: 350px) {
    
}